.Header {
  position: fixed;
  top: 0px;
  width: 100vw;
  box-shadow: 0 2px 8px #ccc;
  background: #fff;
}

.NavBar {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
}

.NavBar .Brand {
  display: inline;
  font-size: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.NavBar .Img {
  height: 30px;
  margin-right: 6px;
}

.NavBar-Account {
  flex-grow: 1;
  text-align: right;
}

/*.NavBar .Button {
  display: inline;
  padding: 0.45rem;
  border: 1px solid #044389;
  border-radius: 6px;
  cursor: pointer;
}
.NavBar .Button:hover {
  background: #044389;
  color: white;
}*/

.NavBar .User {
  display: inline;
  color: #4D7298;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.SpaceRight {
  margin-right: 12px;
}
