.App {
  padding: 20px 0 0 0;
}

.Home {
  text-align: center;
  color: #044389;
}

.Home h3 {
  color: #4D7298;
}

.Home .Hero {
  position: relative;
  width: 100vw;
  margin-bottom: 24px;
}
.Home .HeroImg {
  width: 100%;
}
.Home .HeroShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:
    inset 0px 60px 60px -30px #fff,
    inset 0px -60px 60px -30px #fff;
}

.BtnPrimary {
  color: white;
  background: #4D7298;
}
.BtnPrimary:hover {
  border: 1px solid #044389;
  background: #044389;
}
